/*Skin A - Female Ghost*/

.sA .player {
    background-image: url(../img/sprites/skins/female/Flying.gif);
}

.sA .playerPaused {
    background-image: url(../img/sprites/skins/female/Stopped.png);
}

.sA .upping {
    background-image: url(../img/sprites/skins/female/Upping.png);
    animation-name: uppingGhosts1;
    animation-duration: .58s;
}

@keyframes uppingGhosts1 {
    0% {
        background-image: url(../img/sprites/skins/female/Upping.gif);
    }

    100% {
        background-image: url(../img/sprites/skins/female/Upping.gif);
    }
}

.sA .falling {
    background-image: url(../img/sprites/skins/female/Falling.png);
    animation-name: fallingGhosts1;
    animation-duration: .8s;
}

@keyframes fallingGhosts1 {
    0% {
        background-image: url(../img/sprites/skins/female/Falling.gif);
    }

    100% {
        background-image: url(../img/sprites/skins/female/Falling.gif);
    }
}

.sA .fire {
    background-image: url(../img/sprites/skins/female/Fire.gif);
}

.sA .relaxing {
    background-image: url(../img/sprites/skins/female/Relaxing.gif);
}

.sA .homeGhost1 {
    background-image: url(../img/sprites/skins/female/Flying.gif);
}

.sA .ghostScore {
    background-image: url(../img/sprites/skins/female/Flying.gif);
}

.sA .ghostWon {
    background-image: url(../img/sprites/skins/female/Flying.gif);
}

.sA .ghostLose {
    background-image: url(../img/sprites/skins/female/Flying.gif);
}

.sA .trail {
    background-image: url(../img/sprites/skins/female/Flying.gif);
}

.sA .paused .trail {
    background-image: url(../img/sprites/skins/female/Stopped.png);
}

.prodSA {
    background-image: url(../img/sprites/skins/female/Flying.gif);
}

/*Skin 1 - TranspGhost*/

.s1 .player {
    background-image: url(../img/sprites/skins/transpGhost/Flying.gif);
}

.s1 .playerPaused {
    background-image: url(../img/sprites/skins/transpGhost/Stopped.png);
}

.s1 .upping {
    background-image: url(../img/sprites/skins/transpGhost/Upping.png);
    animation-name: uppingGhosts2;
    animation-duration: .58s;
}

@keyframes uppingGhosts2 {
    0% {
        background-image: url(../img/sprites/skins/transpGhost/Upping.gif);
    }

    100% {
        background-image: url(../img/sprites/skins/transpGhost/Upping.gif);
    }
}

.s1 .falling {
    background-image: url(../img/sprites/skins/transpGhost/Falling.png);
    animation-name: fallingGhosts2;
    animation-duration: .8s;
}

@keyframes fallingGhosts2 {
    0% {
        background-image: url(../img/sprites/skins/transpGhost/Falling.gif);
    }

    100% {
        background-image: url(../img/sprites/skins/transpGhost/Falling.gif);
    }
}

.s1 .fire {
    background-image: url(../img/sprites/skins/transpGhost/Fire.gif);
}

.s1 .relaxing {
    background-image: url(../img/sprites/skins/transpGhost/Relaxing.gif);
}

.s1 .homeGhost1 {
    background-image: url(../img/sprites/skins/transpGhost/Flying.gif);
}

.s1 .ghostScore {
    background-image: url(../img/sprites/skins/transpGhost/Flying.gif);
}

.s1 .ghostWon {
    background-image: url(../img/sprites/skins/transpGhost/Flying.gif);
}

.s1 .ghostLose {
    background-image: url(../img/sprites/skins/transpGhost/Flying.gif);
}

.s1 .trail {
    background-image: url(../img/sprites/skins/transpGhost/Flying.gif);
}

.s1 .paused .trail {
    background-image: url(../img/sprites/skins/transpGhost/Stopped.png);
}

.prodS1 {
    background-image: url(../img/sprites/skins/transpGhost/Flying.gif);
}

/*Skin 2 - Dog Ghost*/

.s2 .player {
    background-image: url(../img/sprites/skins/dogGhost/Flying.gif);
    border-radius: 0;
}

.s2 .shield {
    border-radius: 100%;
}

.s2 .playerPaused {
    background-image: url(../img/sprites/skins/dogGhost/Stopped.png);
}

.s2 .upping {
    background-image: url(../img/sprites/skins/dogGhost/Upping.png);
    animation-name: uppingGhosts3;
    animation-duration: .58s;
}

@keyframes uppingGhosts3 {
    0% {
        background-image: url(../img/sprites/skins/dogGhost/Upping.gif);
    }

    100% {
        background-image: url(../img/sprites/skins/dogGhost/Upping.gif);
    }
}

.s2 .falling {
    background-image: url(../img/sprites/skins/dogGhost/Falling.png);
    animation-name: fallingGhosts3;
    animation-duration: .8s;
}

@keyframes fallingGhosts3 {
    0% {
        background-image: url(../img/sprites/skins/dogGhost/Falling.gif);
    }

    100% {
        background-image: url(../img/sprites/skins/dogGhost/Falling.gif);
    }
}

.s2 .fire {
    background-image: url(../img/sprites/skins/dogGhost/Fire.gif);
}

.s2 .relaxing {
    background-image: url(../img/sprites/skins/dogGhost/Relaxing.gif);
    border-radius: 100%;
}

.s2 .homeGhost1 {
    background-image: url(../img/sprites/skins/dogGhost/Flying.gif);
}

.s2 .ghostScore {
    background-image: url(../img/sprites/skins/dogGhost/Flying.gif);
}

.s2 .ghostWon {
    background-image: url(../img/sprites/skins/dogGhost/Flying.gif);
}

.s2 .ghostLose {
    background-image: url(../img/sprites/skins/dogGhost/Flying.gif);
}

.s2 .trail {
    background-image: url(../img/sprites/skins/dogGhost/Flying.gif);
}

.s2 .paused .trail {
    background-image: url(../img/sprites/skins/dogGhost/Stopped.png);
}

.prodS2 {
    background-image: url(../img/sprites/skins/dogGhost/Flying.gif);
}

/*Skin 3 - Cat Ghost*/
.s3 .player {
    background-image: url(../img/sprites/skins/catGhost/Flying.gif);
    border-radius: 0;
}

.s3 .playerPaused {
    background-image: url(../img/sprites/skins/catGhost/Stopped.png);
}

.s3 .shield {
    border-radius: 100%;
}

.s3 .upping {
    background-image: url(../img/sprites/skins/catGhost/Upping.png);
    animation-name: uppingGhosts4;
    animation-duration: .58s;
}

@keyframes uppingGhosts4 {
    0% {
        background-image: url(../img/sprites/skins/catGhost/Upping.gif);
    }

    100% {
        background-image: url(../img/sprites/skins/catGhost/Upping.gif);
    }
}

.s3 .falling {
    background-image: url(../img/sprites/skins/catGhost/Falling.png);
    animation-name: fallingGhosts4;
    animation-duration: .8s;
}

@keyframes fallingGhosts4 {
    0% {
        background-image: url(../img/sprites/skins/catGhost/Falling.gif);
    }

    100% {
        background-image: url(../img/sprites/skins/catGhost/Falling.gif);
    }
}

.s3 .fire {
    background-image: url(../img/sprites/skins/catGhost/Fire.gif);
}

.s3 .relaxing {
    background-image: url(../img/sprites/skins/catGhost/Relaxing.gif);
    border-radius: 100%;
}

.s3 .homeGhost1 {
    background-image: url(../img/sprites/skins/catGhost/Flying.gif);
}

.s3 .ghostScore {
    background-image: url(../img/sprites/skins/catGhost/Flying.gif);
}

.s3 .ghostWon {
    background-image: url(../img/sprites/skins/catGhost/Flying.gif);
}

.s3 .ghostLose {
    background-image: url(../img/sprites/skins/catGhost/Flying.gif);
}

.s3 .trail {
    background-image: url(../img/sprites/skins/catGhost/Flying.gif);
}

.s3 .paused .trail {
    background-image: url(../img/sprites/skins/catGhost/Stopped.png);
}

.prodS3 {
    background-image: url(../img/sprites/skins/catGhost/Flying.gif);
}

/*Skin 4 - Mecha Ghost*/
.s4 .player {
    background-image: url(../img/sprites/skins/mechaGhost/Flying.gif);
    border-radius: 0;
}

.s4 .playerPaused {
    background-image: url(../img/sprites/skins/mechaGhost/Stopped.png);
}

.s4 .shield {
    border-radius: 100%;
}

.s4 .upping {
    background-image: url(../img/sprites/skins/mechaGhost/Upping.png);
    animation-name: uppingGhosts5;
    animation-duration: .58s;
}

@keyframes uppingGhosts5 {
    0% {
        background-image: url(../img/sprites/skins/mechaGhost/Upping.gif);
    }

    100% {
        background-image: url(../img/sprites/skins/mechaGhost/Upping.gif);
    }
}

.s4 .falling {
    background-image: url(../img/sprites/skins/mechaGhost/Falling.png);
    animation-name: fallingGhosts5;
    animation-duration: .8s;
}

@keyframes fallingGhosts5 {
    0% {
        background-image: url(../img/sprites/skins/mechaGhost/Falling.gif);
    }

    100% {
        background-image: url(../img/sprites/skins/mechaGhost/Falling.gif);
    }
}

.s4 .fire {
    background-image: url(../img/sprites/skins/mechaGhost/Fire.gif);
}

.s4 .relaxing {
    background-image: url(../img/sprites/skins/mechaGhost/Relaxing.gif);
    border-radius: 100%;
}

.s4 .homeGhost1 {
    background-image: url(../img/sprites/skins/mechaGhost/Flying.gif);
}

.s4 .ghostScore {
    background-image: url(../img/sprites/skins/mechaGhost/Flying.gif);
}

.s4 .ghostWon {
    background-image: url(../img/sprites/skins/mechaGhost/Flying.gif);
}

.s4 .ghostLose {
    background-image: url(../img/sprites/skins/mechaGhost/Flying.gif);
}

.s4 .trail {
    background-image: url(../img/sprites/skins/mechaGhost/Flying.gif);
}

.s4 .paused .trail {
    background-image: url(../img/sprites/skins/mechaGhost/Stopped.png);
}

.prodS4 {
    background-image: url(../img/sprites/skins/mechaGhost/Flying.gif);
}

.hd .player {
    background-image: url(../img/non-sprites/skins/HDGhost/Flying.gif);
}