/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}


body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Josefin Sans',
    sans-serif;
}

.background {
    width: 3840px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/sprites/background/BackgroundPureStarII.png);
    animation-name: moveBckg;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveBckg {
    from {
        left: 0
    }

    to {
        left: -1920px
    }
}

.earthBckg {
    width: 3840px;
    height: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/sprites/background/settingsCloudsDark.png);
    animation-name: moveBckg;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-duration: .5s;
}

img {
    width: 300px;
    height: 300px;
    z-index: 100;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    filter: drop-shadow(0px 0px 10px #fff);
}

.back {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    background-position: center;
    background-size: cover;
    background-image: url(../img/sprites/navButtons/white/backHome.png);
    z-index: 10;
}

.soundAlign {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Josefin Sans',
    sans-serif;
}

.soundTestCont {
    width: 50%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    border-radius: 8px;
    background-color: #0632ff77;
    backdrop-filter: blur(10px);
    position: relative;
}

.soundPrev {
    width: 10%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
}

.soundPrev:active {
    background-color: #0632ff;
}

.soundPrev img {
    width: 100px;
    height: 100px;
    filter: none;
    transition-duration: .2s;
}

.soundPrev:hover img {
    filter: drop-shadow(0px 0px 10px #fff);
}


.soundAfter {
    width: 10%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
}

.soundAfter:active {
    background-color: #0632ff;
}

.soundAfter img {
    width: 100px;
    height: 100px;
    filter: none;
    transition-duration: .2s;
}

.soundAfter:hover img {
    filter: drop-shadow(0px 0px 10px #fff);
}

.soundControls {
    width: 80%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.soundControls button {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    transition-duration: .2s;
    border-radius: 8px;
}

.soundControls button:hover {
    background-color: #0632ff;
}

#playControl {
    background-image: url(../img/non-sprites/navButtons/play.png);
}

#pauseControl {
    background-image: url(../img/non-sprites/navButtons/pause.png);
}

#resetControl {
    background-image: url(../img/non-sprites/navButtons//reset.png);
}

.soundInfos {
    width: 80%;
    height: calc(100% - 100px);
    position: fixed;
    top: 0;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
}

.soundName {
    font-size: 30px;
}

.soundCredit {
    font-size: 20px;
}

.soundGhost {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 10px;
    bottom: 0;
}

.stopped {
    background-image: url(../img/sprites/soundTest/soundGhost.png);
}

.playing {
    background-image: url(../img/sprites/soundTest/soundGhost.gif);
}

.muteAlert {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition-duration: .3s;
    z-index: 10000;
}

.volumeModifier {
    width: 200px;
    height: 70px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    transition-duration: .3s;
    z-index: 10000;
}

.volumeModifier input[type="range"] {
    appearance: none;
    background-color: #011222;
    border-radius: 20px;
    overflow: hidden;
    height: 15px;
    border: 1px solid #008;
    outline: none;
}

.volumeModifier input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 100%;
    border: 2px solid #0632ff;
    box-shadow: -1005px 0 0 1000px #0632ff;
}

.volCenter {
    width: 300px;
    height: 100%;
    border-radius: 8px;
    top: 10px;
    right: 10px;
    background-color: #0632ff77;
    backdrop-filter: blur(10px);
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    transition-duration: .3s;
    z-index: 10000;
}

.volCenter button {
    padding: 6px;
    border-radius: 120px;
    font-size: 15px;
    border: 1px solid #202020;
    background-color: #191919;
    color: white;
    transition-duration: .2s;
}

.volCenter button:hover {
    border-color: #0632ff;
}

.volCenter button:active {
    border-color: #0632ff;
    background-color: #0632ff;
}

/*Import Google Icons*/
@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v159/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2) format('woff2');
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
}