* {
    margin: 0;
    padding: 0;
}

/*Base Screen Size : 1366x768px*/

body {
    width: 100vw;
    height: 100vh;
    /*background-image: linear-gradient(to bottom, #2E1A47, #111133, #04051a);*/
    /*background-image: linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #008, #00f);*/
    /*background-image: linear-gradient(to bottom, #000, #04051a);*/
    background-color: #000;
    overflow: hidden;
}

.background {
    width: 200vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/sprites/background/BackgroundPureStarII.png);
    animation-name: moveBckg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: cover;
    background-position: center;
}

@keyframes moveBckg {
    from {
        left: 0
    }

    to {
        left: -100%
    }
}

.player {
    width: 100px;
    height: 100px;
    background-image: url(../img/sprites/skins/normal/Flying.gif);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: 150px;
    top: 45%;
    border-radius: 100%;
}

.inv {
    width: 120px;
    height: 120px;
    background-image: url(../img/sprites/animations/invencible/SInv.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}

.pinv {
    background-image: url(../img/sprites/animations/invencible/StopInv.png);
}

/*.player .trail {
    width: 150px;
    height: 80px;
    position: absolute;
    left: -110px;
    top: 10px;
    background-image: linear-gradient(to right, #0000, #f0f0f033, #f0f0f0);
    z-index: -1;
    display: none;
}*/

.trail {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 150px;
    top: 46%;
    animation-name: trailLine;
    animation-duration: 1s;
    animation-timing-function: linear;
    border-radius: 100%;
    z-index: -1;
    background-image: url(../img/sprites/skins/normal/Flying.gif);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

@keyframes trailLine {
    from {
        left: 150px;
        opacity: 1;
    }

    to {
        left: 20px;
        opacity: 0;
    }
}

.playerPaused {
    background-image: url(../img/sprites/skins/normal/Stopped.png);
}

.upping {
    background-image: url(../img/sprites/skins/normal/Upping.png);
    animation-name: uppingGhost;
    animation-duration: .58s;
}

@keyframes uppingGhost {
    0% {
        background-image: url(../img/sprites/skins/normal/Upping.gif);
    }

    100% {
        background-image: url(../img/sprites/skins/normal/Upping.gif);
    }
}

.falling {
    background-image: url(../img/sprites/skins/normal/Falling.png);
    animation-name: fallingGhost;
    animation-duration: .8s;
}

@keyframes fallingGhost {
    0% {
        background-image: url(../img/sprites/skins/normal/Falling.gif);
    }

    100% {
        background-image: url(../img/sprites/skins/normal/Falling.gif);
    }
}

.shield {
    border: 2px solid #0632ff;
    outline: 2px solid #0af;
    box-shadow: 0px 0px 10px 4px #0ef;
    background-color: #0632ff33;
}

.hShield {
    opacity: .5
}

.hurted {
    animation-name: hurting;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes hurting {
    0% {
        rotate: 0deg;
        opacity: .5
    }

    50% {
        opacity: 1
    }

    80% {
        rotate: 720deg;
        opacity: .5;
        left: 0
    }

    100% {
        rotate: 720deg;
        left: 150PX;
    }
}

.meteor {
    border-radius: 6px;
    position: absolute;
    left: 120%;
    TOP: 50%;
    animation-name: kill;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: cover;
    background-position: center;
}

.mt1 {
    width: 32px;
    height: 32px;
    background-image: url(../img/sprites/meteorSprites/type1.png);
}

.mt2 {
    width: 50px;
    height: 50px;
    background-image: url(../img/sprites/meteorSprites/type2.png);
}

.mt3 {
    width: 100px;
    height: 100px;
    background-image: url(../img/sprites/meteorSprites/type3.png);
}

.mt4 {
    width: 200px;
    height: 200px;
    background-image: url(../img/sprites/meteorSprites/type4.png);
}

@keyframes kill {
    from {
        left: 120%;
        rotate: 0deg
    }

    to {
        left: -20%;
        rotate: 360deg
    }
}

#m2 {
    animation-delay: .4s;
}

#m3 {
    animation-delay: 1s;
}

#m4 {
    animation-delay: 1.2s;
}

#m5 {
    animation-delay: .6s;
}

#m6 {
    animation-delay: .9s;
}

#m7 {
    animation-delay: 1.3s;
}

.pauseContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -130%;
    backdrop-filter: grayscale();
    background-color: #f0f0f022;
    z-index: 2;
}

.pauseAlert {
    width: 25vw;
    height: 100vh;
    position: absolute;
    right: -25%;
    top: 0;
    background-color: #008;
    color: white;
    transition-duration: .4s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.pauseAlert div {
    position: absolute;
    top: 20px;
    font-size: 40px;
    font-weight: bolder;
}

.pauseAlert button {
    width: 90%;
    height: 40px;
    margin: 10px 0;
    background-color: #191919;
    border: 1px solid #090909;
    border-radius: 4px;
    color: white;
}

.pauseAlert .pauseAnim {
    position: absolute;
    right: 25vw;
    top: 0;
    width: 50px;
    height: 2150px;
    animation-name: animPauseLine;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-size: cover;
    background-position: center;
    background-image: url(../img/sprites/animations/pause/Pause2.png);
}

@keyframes animPauseLine {
    from {
        top: 0;
    }

    to {
        top: -1080px;
    }
}

.pauseAnimTop {
    width: 20%;
    height: 80px;
    background-color: #00a;
    position: fixed;
    top: 1%;
    left: 120%;
    border-radius: 10px;
    animation: animPause 3s linear infinite;
}

.pauseAnimBottom {
    width: 20%;
    height: 80px;
    background-color: #00e;
    position: fixed;
    bottom: 1%;
    left: 120%;
    border-radius: 10px;
    animation: animPause 3s linear 1s infinite;
}

@keyframes animPause {
    from {
        left: 120%
    }

    to {
        left: -20%
    }
}

.boost {
    width: 48px;
    height: 48px;
    position: fixed;
    animation: boost 10s linear infinite;
    background-size: cover;
    background-position: center;
}

.shieldBoost {
    background-image: url(../img/sprites/Items/shieldBoost.png);
}

.lifeBoost {
    background-image: url(../img/sprites/Items/lifeBoost.png);
}

.SlifeBoost {
    background-image: url(../img/sprites/Items/SlifeBoost.png);
}

.superBoost {
    background-image: url(../img/sprites/Items/superBoost.png);
}

.invBoost {
    background-image: url(../img/sprites/Items/invBoost.png);
}

@keyframes boost {
    0% {
        left: 120%
    }

    40% {
        left: -50px;
    }

    100% {
        left: -60px;
    }
}

#disclaimer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #000;
}

#disclaimer span {
    font-size: 30px;
    font-weight: bolder;
}

#disclaimer button {
    padding: 2px 20px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 120px;
    background-color: #025;
    border: 2px solid #0632ff;
    color: white;
    transition-duration: .4s;
}

#disclaimer button:hover {
    background-color: #0632ff;
}

#homeScreen {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #008, #00f);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    display: none;
    color: white;
    animation-name: appearPages;
    animation-duration: .5s;
    transition-duration: .5s;
}

@keyframes appearPages {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#homeScreen button {
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 120px;
    background-color: #025;
    border: 2px solid #0632ff;
    color: white;
    transition-duration: .4s;
    z-index: 1;
}

#homeScreen button:hover {
    background-color: #0632ff;
}

#homeScreen .background {
    z-index: 0;
    animation-duration: 20s;
}

.version {
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.homeGhost1 {
    width: 100px;
    height: 100px;
    background-image: url(../img/sprites/skins/normal/Flying.gif);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    top: 10%;
    border-radius: 100%;
    animation: floatHome 10s linear infinite;
    transition-duration: .2s;
}

@keyframes floatHome {
    0% {
        top: 10%;
        left: -130px;
    }

    10% {
        top: 20%
    }

    20% {
        top: 10%;
    }

    30% {
        top: 30%;
    }

    40% {
        top: 10%;
    }

    50% {
        top: 5%;
    }

    60% {
        top: 10%;
    }

    70% {
        top: 30%;
    }

    80% {
        top: 50%;
    }

    90% {
        top: 40%;
    }

    100% {
        top: 10%;
        left: 120%
    }
}

.roundHome {
    rotate: 180deg
}

#infiniteMode {
    display: none;
    animation-name: appearPages;
    animation-duration: .5s;
    transition-duration: .5s;
}

#infiniteMode .moveBlock {
    width: 100vw;
    height: 50vh;
    position: absolute;
    left: 0;
}

#upBlock {
    top: 0;
}

#downBlock {
    bottom: 0;
}

.hearts {
    width: 120px;
    height: 24px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

/*Hearts*/
.h100 {
    background-image: url(../img/sprites/hearts/100pc.png);
}

.h90 {
    background-image: url(../img/sprites/hearts/90pc.png);
}

.h80 {
    background-image: url(../img/sprites/hearts/80pc.png);
}

.h70 {
    background-image: url(../img/sprites/hearts/70pc.png);
}

.h60 {
    background-image: url(../img/sprites/hearts/60pc.png);
}

.h50 {
    background-image: url(../img/sprites/hearts/50pc.png);
}

.h40 {
    background-image: url(../img/sprites/hearts/40pc.png);
}

.h30 {
    background-image: url(../img/sprites/hearts/30pc.png);
}

.h20 {
    background-image: url(../img/sprites/hearts/20pc.png);
}

.h10 {
    background-image: url(../img/sprites/hearts/10pc.png);
}

.h0 {
    background-image: url(../img/sprites/hearts/0pc.png);
    animation-name: alertLife;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes alertLife {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

}

.itemsAlertCont {
    width: 120px;
    height: 200px;
    position: fixed;
    bottom: 24px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.itemCont {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2px;
    box-sizing: border-box;
    color: white;
}

.emptySlot {
    animation-name: emptySlot;
    animation-duration: .5s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}

.itemCont .slots {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 10px;
}

.itemCont .item {
    width: 32px;
    height: 32px;
    background-size: cover;
    position: static;
    margin-right: 2px;
}

@keyframes emptySlot {
    0% {
        background-color: transparent;
    }

    25% {
        background-color: red;
    }

    50% {
        background-color: transparent;
    }

    25% {
        background-color: red;
    }

    100% {
        background-color: transparent;
    }
}