@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 100dvw;
    max-height: 100dvh;
    overflow: hidden;
    user-select: none;
    font-family: 'Josefin Sans',
        sans-serif;
}

button {
    font-family: 'Josefin Sans',
        sans-serif;
}

/*Sections management*/

section {
    width: 100dvw;
    height: 100dvh;
    display: none;
}

#blackout {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    transition-duration: .3s;
    animation: blackout .3s;
}

#mainMenu {
    background-color: #010101;
    color: white;
}

#gidM {
    background-color: #3a1f00;
}

#spaceShipTop {
    background-color: #010101;
}

#spaceShip {
    background-color: #8faeff;
}

#ghostId {
    background-color: #8faeff;
}

#spaceArea {
    background-color: #010101;
}

#pauseMenu {
    backdrop-filter: grayscale(100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
}

#devKeys {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
}

/* GUI */

/* Menu */
.leftAlign {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #000512;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0 30px 30px #000512;
}

.navBtnsAlign {
    width: 100%;
    height: calc(100% - 320px);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

#mainMenu img {
    width: 300px;
    height: 300px;
    z-index: 1;
    position: absolute;
    top: 10px;
}

/* Crossover - Main Menu Button + Pause Button + GID Button */
button {
    font-size: 30px;
    border: none;
    border-radius: 0;
    background-color: #191929;
    color: white;
    z-index: 1;
    transition-duration: .1s;
    padding: 10px 20px;
    width: 90%;
}

button:hover {
    box-shadow: 5px 5px 0 white;
}

button:active {
    background-color: #2f9bb2;
    box-shadow: 5px 5px 0 #5fcde4;
}

.B2BButton {
    width: auto !important;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Ghost ID */
#ghostId h1 {
    padding: 40px 0;
    text-align: center;
}

.cardAlign {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.card {
    width: 210px;
    height: 300px;
    background-color: #c8d8ff;
    border: 1px solid #adc4ff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    transition-duration: .2s;
}

.card-m {
    width: 210px;
    height: 300px;
    background-color: #fffbc8;
    border: 1px solid #ffe9ad;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    transition-duration: .2s;
}

.card:hover,
.card-m:hover {
    margin-bottom: -30px;
}

.card:active,
.card-m:active {
    margin-bottom: -120px;
}

.cardPic {
    width: 170px;
    height: 170px;
    background-color: #002070;
}

.card-m .cardPic {
    background-color: #703f00;
}

.saveName {
    font-size: 20px;
}

.insertTriangle {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #002070;
    margin-bottom: -20px;
}

.card-m .insertTriangle {
    border-top-color: #703f00;
}

.idInformations {
    width: 60%;
    height: 50%;
    position: absolute;
    top: 30px;
    left: calc(50% - 30%);
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #180044;
    color: #716fff;
    margin: 0 auto;
    border: 8px outset #0c0041;
    padding-top: 110px;
}

#gidM .idInformations {
    background-color: #502000;
    border-color: #2e1800;
    color: #e66f00;
}

.GIDIntro {
    position: absolute;
    top: 30px;
    text-align: center;
    font-size: 20px;
    gap: 3px
}

.idInformations .ghostSkin {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.idInformations .infos {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.idInformations .infos img {
    width: 40px;
    height: 40px;
}

#ghostId button,
#gidM button {
    font-size: 20px;
}

/* SpaceShip */
.spaceShipSoil {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000512;
    border-top: 2px solid #000;

    background-image: url(../sprites/backgrounds/textures/spaceShipSoil.png);
}

.spaceShipPlatform {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 0;
    background-image: url(../sprites/backgrounds/shipPlatform.gif);
    background-position: center;
    background-size: cover;
}


.spaceShipBCKG {
    width: 100%;
    height: calc(100% - 150px);
    background-color: #8faeff66;
    position: absolute;
    bottom: 0;
    left: 0;
}

.doorsContainer {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 20%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

}

.doorsContainer .door {
    width: 200px;
    height: 250px;
    background-color: #c8d8ff;
    border: 2px solid #000512;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    transition-duration: .1s;
}

.doorsContainer .door::before {
    width: 100%;
    height: 50px;
    position: absolute;
    content: attr(data-text);
    top: -70px;
    background-color: #c8d8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 2px solid #000512;
}

.doorsContainer .door:hover {
    background-color: #5fcde4;
}

.doorsContainer .door::after {
    width: 100px;
    height: 100px;
    content: '';
    background-image: url(../sprites/skins/ghost/idle.gif);
    opacity: 0;
    transition-duration: .1s;
}

.doorsContainer .door:hover::after {
    opacity: 1;
}

.doorsContainer .door:active {
    background-color: #000;
}

.doorsContainer .door:active::after {
    margin-bottom: -20px;
}

.gidIdentifier {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    box-shadow: -5px 5px 0 0 white;
    color: white;
    padding: 20px 40px;
}

/* Game */
.pressButton {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url(../sprites/GUI/button.png);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.lifes {
    width: 200px;
    height: 40px;
    background-image: url(../sprites/GUI/hearts/full.png);
}

.energies {
    width: 200px;
    height: 40px;
    background-image: url(../sprites/GUI/energy/zero.png);
}

.infoBar {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    transition-duration: .2s;
}

.boostBar {
    display: flex;
    gap: 30px;
}

.boostInfo {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: .2s;
}

.effectsBar {
    width: 50px;
    height: calc(100% - 50px);
    position: fixed;
    top: 50px;
    right: 0;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 10px 0;
    align-items: center;
    gap: 10px;
    z-index: 5;
}

/* Pause Menu + DevKeys Menu*/
.pauseBar {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.topPause,
.dmTop {
    width: 100%;
    height: 20%;
    background-color: #000512;
    position: absolute;
    top: -20%;
    left: 0;
    transition-duration: .4s;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

.dmTop {
    background-color: #503b00;
}

.topPause h1,
.dmTop h1 {
    font-size: 60px;
}

.topPause img {
    width: 50px;
    height: 50px;
}

.pauseContainer,
.dmContainer {
    width: 100%;
    height: 80%;
    background-color: #00051299;
    position: absolute;
    bottom: -80%;
    left: 0;
    transition-duration: .4s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 0;
    gap: 30px;
}

.pauseContainer .gidIdentifier {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 83%;
    box-shadow: 0 -5px 0 0 white;
    text-align: center;
    background-color: #000512;
}

.dmContainer {
    background-color: #503b0099;
}

/* End GUI */

/* Backgrounds */

.bckg {
    width: 200dvw;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    animation: runBackground 12s infinite linear;
    position: absolute;
    top: 0;
    left: 0;
}

.bckg.vertical {
    animation: runVertical 12s infinite linear;
    width: 100dvw;
    height: 200dvh;
}

.bckg.preview {
    top: 50%;
}

.bckg.stars {
    background-image: url(../sprites/backgrounds/stars.png);
}

.bckg.miniStars {
    background-image: url(../sprites/backgrounds/miniStars.png);
}

.bckg.desert {
    background-image: url(../sprites/planets/DesertDazzle/background.png);
}

.bckg.city {
    background-image: url(../sprites/backgrounds/city.png);
}

.bckg.code {
    background-image: url(../sprites/backgrounds/GID-M.png);
}

.marqueeMovement {
    width: 100%;
    position: absolute;
    background-color: #000;
    left: 0;
    top: 150px;
    color: #94eaff;
    padding: 15px 0;
    font-size: 20px;
}

.marqueeMovement p {
    animation: marquee 20s linear infinite;
    white-space: nowrap;
}

.movingChar {
    width: 100px;
    height: 100px;
    background-image: url(../sprites/skins/ghost/fly.gif);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 10%;
    animation: floatHome 10s linear infinite;
}

.movingChar.mini {
    width: 50px;
    height: 50px;
}

.movingChar.sara {
    background-image: url(../sprites/backgrounds/flyingGhosts/sara.gif);
}

.movingChar.mecha {
    background: url(../sprites/backgrounds/flyingGhosts/mecha.gif);
}

.movingChar.grad {
    background: url(../sprites/backgrounds/flyingGhosts/grad.gif);
}

.movingChar.altAnim {
    animation: floatHome2 18s linear infinite;
}

.movingChar.classic {
    background-image: url(../sprites/backgrounds/flyingGhosts/classic.gif);
}

.movingChar.goNBack {
    animation: goNBack linear 12s infinite;
}

.bckgMeteorite {
    background-size: cover;
    position: absolute;
    left: 120%;
    animation: mtMover linear infinite 10s;
}

.bckgMeteorite.type1 {
    width: 40px;
    height: 40px;
    background-image: url(../sprites/objects/mtType1.png);
}

.bckgMeteorite.type2 {
    width: 80px;
    height: 80px;
    background-image: url(../sprites/objects/mtType2.png);
}

.bckgMeteorite.type3 {
    width: 120px;
    height: 120px;
    background-image: url(../sprites/objects/mtType3.png);
}

.bckgMeteorite.type4 {
    width: 160px;
    height: 160px;
    background-image: url(../sprites/objects/mtType4.png);
}

.bckgMeteorite.type5 {
    width: 200px;
    height: 200px;
    background-image: url(../sprites/objects/mtType5.png);
}

.lane {
    width: 3840px;
    height: 150px;
    position: absolute;
    animation: runBackground infinite linear;
}

.lane.up {
    bottom: 130px;
    animation-duration: 7s;
}

.lane.down {
    bottom: 0px;
    animation-duration: 7s;
}

/* LANES BCKGS */
.lane.DDP {
    background-image: url(../sprites/planets/DesertDazzle/lane1.png);
}

/* Player */

.ghost {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: absolute;
    left: 123px;
    top: 48%;
}

#planetArea .ghost {
    top: auto;
    bottom: 110px;
    transition-duration: .1s;
}

.shield {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    animation: shieldAnimation 2.6s steps(1) infinite;
    position: absolute;
    left: 98px;
    top: 45%;
    display: none;
}

.ghost.aLittleHurt {
    animation: hurt 1s linear;
}

/* Objects */
.stardust {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0%;
    left: 120%;
    animation: mtMover linear infinite;
    background-image: url(../sprites/objects/stardust.gif);
}

.meteorite {
    background-size: cover;
    position: absolute;
    top: 20%;
    left: 120%;
    animation: mtMover linear infinite;
}

.meteorite.type1 {
    width: 40px;
    height: 40px;
    background-image: url(../sprites/objects/mtType1.png);
}

.meteorite.type2 {
    width: 80px;
    height: 80px;
    background-image: url(../sprites/objects/mtType2.png);
}

.meteorite.type3 {
    width: 120px;
    height: 120px;
    background-image: url(../sprites/objects/mtType3.png);
}

.meteorite.type4 {
    width: 160px;
    height: 160px;
    background-image: url(../sprites/objects/mtType4.png);
}

.meteorite.type5 {
    width: 200px;
    height: 200px;
    background-image: url(../sprites/objects/mtType5.png);
}

/*Animations*/

@keyframes blackout {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes runBackground {
    from {
        left: 0;
    }

    to {
        left: -100%
    }
}

@keyframes runVertical {
    from {
        top: 0;
    }

    to {
        top: -100%
    }
}

@keyframes marquee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes floatHome {
    0% {
        top: 10%;
        left: -130px;
    }

    10% {
        top: 20%
    }

    20% {
        top: 40%;
    }

    30% {
        top: 30%;
    }

    40% {
        top: 10%;
    }

    50% {
        top: 5%;
    }

    60% {
        top: 10%;
    }

    70% {
        top: 30%;
    }

    80% {
        top: 50%;
    }

    90% {
        top: 40%;
    }

    100% {
        top: 10%;
        left: 120%
    }
}

@keyframes floatHome2 {
    0% {
        top: 40%;
        left: -130px;
    }

    10% {
        top: 30%
    }

    20% {
        top: 10%;
    }

    30% {
        top: 20%;
    }

    40% {
        top: 30%;
    }

    50% {
        top: 2%;
    }

    60% {
        top: 15%;
    }

    70% {
        top: 40%;
    }

    80% {
        top: 50%;
    }

    90% {
        top: 30%;
    }

    100% {
        top: 20%;
        left: 120%
    }
}

@keyframes goNBack {
    0% {
        left: 10%;
    }

    50% {
        left: 90%;
        transform: scaleX(1)
    }

    51% {
        left: 90%;
        transform: scaleX(-1)
    }

    99% {
        left: 10%;
        transform: scaleX(-1)
    }

    100% {
        left: 10%;
        transform: scaleX(1)
    }
}

@keyframes hurt {
    0% {
        left: 123px;
        rotate: 0deg;
    }

    50% {
        left: 10px;
        rotate: 720deg;
    }

    85% {
        left: 10px;
        rotate: 1440deg
    }

    100% {
        left: 123px;
        rotate: 1440deg
    }
}

@keyframes mtMover {
    from {
        left: 120%;
        /* rotate: 0deg; */
    }

    to {
        left: -20%;
        /* rotate: 2520deg; */
    }
}

@keyframes shieldAnimation {
    0% {
        background-image: url('../sprites/boosts/shield/shield1.png');
    }

    3.846% {
        background-image: url('../sprites/boosts/shield/shield2.png');
    }

    7.692% {
        background-image: url('../sprites/boosts/shield/shield3.png');
    }

    11.538% {
        background-image: url('../sprites/boosts/shield/shield4.png');
    }

    15.384% {
        background-image: url('../sprites/boosts/shield/shield5.png');
    }

    19.230% {
        background-image: url('../sprites/boosts/shield/shield6.png');
    }

    23.076% {
        background-image: url('../sprites/boosts/shield/shield7.png');
    }

    26.922% {
        background-image: url('../sprites/boosts/shield/shield8.png');
    }

    30.768% {
        background-image: url('../sprites/boosts/shield/shield9.png');
    }

    34.614% {
        background-image: url('../sprites/boosts/shield/shield10.png');
    }

    38.460% {
        background-image: url('../sprites/boosts/shield/shield11.png');
    }

    42.306% {
        background-image: url('../sprites/boosts/shield/shield12.png');
    }

    46.152% {
        background-image: url('../sprites/boosts/shield/shield13.png');
    }

    49.998% {
        background-image: url('../sprites/boosts/shield/shield14.png');
    }

    53.844% {
        background-image: url('../sprites/boosts/shield/shield15.png');
    }

    57.690% {
        background-image: url('../sprites/boosts/shield/shield16.png');
    }

    61.536% {
        background-image: url('../sprites/boosts/shield/shield17.png');
    }

    65.382% {
        background-image: url('../sprites/boosts/shield/shield18.png');
    }

    69.228% {
        background-image: url('../sprites/boosts/shield/shield19.png');
    }

    73.074% {
        background-image: url('../sprites/boosts/shield/shield20.png');
    }

    76.920% {
        background-image: url('../sprites/boosts/shield/shield21.png');
    }

    80.766% {
        background-image: url('../sprites/boosts/shield/shield22.png');
    }

    84.612% {
        background-image: url('../sprites/boosts/shield/shield23.png');
    }

    88.458% {
        background-image: url('../sprites/boosts/shield/shield24.png');
    }

    92.304% {
        background-image: url('../sprites/boosts/shield/shield25.png');
    }

    100% {
        background-image: url('../sprites/boosts/shield/shield26.png');
    }
}