* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    /*background-image: linear-gradient(to bottom, #2E1A47, #111133, #04051a);*/
    background-image: linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #008, #00f);
    /*background-image: linear-gradient(to bottom, #000, #04051a);*/
    background-color: #000;
    overflow: hidden;
}

.background {
    width: 200vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/sprites/BackgroundPureStarII.png);
    animation-name: moveBckg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: cover;
    background-position: center;
}

@keyframes moveBckg {
    from {
        left: 0
    }

    to {
        left: -100%
    }
}

.player {
    width: 100px;
    height: 100px;
    background-image: url(../img/sprites/Flying.gif);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 150px;
    top: 45%;
}

.playerPaused {
    background-image: url(../img/sprites/NTSGhostJump/Flying1.png);
}

.upping {
    background-image: url(../img/sprites/NTSGhostJump/Upping.png);
    animation-name: uppingGhost;
    animation-duration: .58s;
}

@keyframes uppingGhost {
    0% {
        background-image: url(../img/sprites/Upping.gif);
    }

    100% {
        background-image: url(../img/sprites/Upping.gif);
    }
}

.falling {
    background-image: url(../img/sprites/NTSGhostJump/Falling.png);
    animation-name: fallingGhost;
    animation-duration: .8s;
}

@keyframes fallingGhost {
    0% {
        background-image: url(../img/sprites/Falling.gif);
    }

    100% {
        background-image: url(../img/sprites/Falling.gif);
    }
}

.hShield {
    animation-name: hShield;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinte;
}

@keyFrames hShield {
    0% {
        opacity: 1
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 1
    }
}

.hurted {
    animation-name: hurting;
    animation-duration: .5s;
    animation-timing-function: linear;
}

@keyframes hurting {
    0% {
        rotate: 0deg
    } 

    50% {
        opacity: .5
    }

    100% {
        rotate: 720deg;
        opacity: 1
    }
}

.meteor {
    border-radius: 6px;
    position: absolute;
    left: 120%;
    TOP: 50%;
    animation-name: kill;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: cover;
    background-position: center;
}

.mt1 {
    width: 32px;
    height: 32px;
    background-image: url(../img/sprites/meteorSprites/type1.png);
}

.mt2 {
    width: 50px;
    height: 50px;
    background-image: url(../img/sprites/meteorSprites/type2.png);
}

.mt3 {
    width: 100px;
    height: 100px;
    background-image: url(../img/sprites/meteorSprites/type3.png);
}

.mt4 {
    width: 200px;
    height: 200px;
    background-image: url(../img/sprites/meteorSprites/type4.png);
}

@keyframes kill {
    from {
        left: 120%;
        rotate: 0deg
    }

    to {
        left: -20%;
        rotate: 360deg
    }
}

#m2 {
    animation-delay: .4s;
}

#m3 {
    animation-delay: 1s;
}

#m4 {
    animation-delay: 1.2s;
}

#m5 {
    animation-delay: .6s;
}

#m6 {
    animation-delay: .9s;
}

#m7 {
    animation-delay: 1.3s;
}